* {
    font-family:'Franklin Gothic Medium' ;
}
h1{
    color: #b92b27 ;
}

#login{
    background-color: brown;
    color: white;
}
#signup {
    background-color: #b92b27;
    color : white
}

.upvote{
    color: brown;
    background-color: blanchedalmond;
}

.answer{
    background-color: #b92b27;
    color: white;
}